.navbar-expand-md .navbar-nav .nav-link{
    
/*  color задає колір тексту  */
    color: #fff;
}
.navbar{
    background: #fff;
}

.navbar-light .navbar-brand{
/*  всі букви великі  */
    text-transform: uppercase;
    
    color: red;
}

.navbar-light .navbar-brand:hover{
    color: #fff;
}

.nav-item{
/*  Ширина   */
    width: 140px;
    background-color: red;
    margin-left: 2px;
    font-weight: 400;
    text-align: center;
}

.navbar-light .navbar-nav .active, .navbar-light .navbar-nav .active>.nav-link{
    background-color: #dee5ef;
}

.main-slider{
/*  Висота  */
    height: 90vh;
}

.main-slider img{
    width: 100%;
    height: 90vh;
}

.liverpool h1{
    color: red;
/*  Жирність шрифту  */
    font-weight: bold;
/*  Розмір шрифту, тобто букв  */
    font-size: 2.5em;
    text-transform: uppercase;
/*   відступ зверху */
    padding-top: 20px;
}

.liverpool h2{
    color: red;
    font-weight: bold;
    font-size: 1.8em;
/*   кожна перша буква стає великою */
    text-transform: capitalize;
    padding-bottom: 30px;
}
.liverpool img{
    width: 400px;
    height: 400px;
}


.section h2{
    margin:2em 0 1em 0;
}
.section h3{
    margin:1.2em 0 1.5em 0;
}
.section h2, h3, h4{
    color: red;
    font-weight: bold;
    font-size: 2.4rem;
    text-transform: capitalize;
}
.section h3{
    font-weight: 400;
    font-size: 2rem;
}
/*Секция новостей*/
.row.w-100{
    margin-bottom: 1.5em;
}
.card-body{
    font-weight: 600;
}
span.date{
    color: red;
}
.card-body .row p{
    border-left: 1px solid #ccc;
    padding-left: 1em;
}
.card-img-overlay p{
    visibility: hidden;
}
.card-img-overlay:after{
    content: '▲';
    font-size: 2rem;
    position: relative;
    top:4.1em;
    justify-content: center;
    display: flex;
    visibility: hidden;
}
.card:hover .card-img-overlay p, .card:hover .card-img-overlay:after{
    visibility: visible;
}
/*Секция матча*/
.last-match img, .upcoming img, .tab-content img{
    max-width: 100%;
    height: auto;
}
.tab-content img{
    width: 70%;
    max-height: 500px;
    overflow-y: hidden;
}
.last-match h4{
    color: #000;
    font-size: 2rem;
    margin: 1em 0 1em 0;
}
.upcoming h4{
    color: #000;
    font-size: 2rem;
}
.nav-tabs .nav-link, .nav-tabs{
    border: none;
}
.nav-tabs li{
    margin: 7px;
    border: 1px #fff;
}


.nav-tabs .nav-link{
    background: red;
    color: #fff;
    border-radius: 0;
    padding-left:  1.3em;
    padding-right: 1.3em;
    text-transform: capitalize;
}
.nav-tabs .nav-link.active{
    background: #ccc;
    color: #000;
}
/*Секция команды*/
.team{
    height: 150px;
}
.team div{
    padding: 0;
    margin: 0;
}
.team .row{
    height: 100%;
    padding: inherit;
    margin: inherit;
}
.team .red{
    background-color: red;
     display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
}
.team .red p{
    margin-top: 10px;
}
.team .grey p:before{
    content: '►';
    margin-left: -27px;
    font-size: 2rem;
    color: red;
    position: relative;
    top: 5px;
}
.team .grey{
    background-color: #ccc;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}
.team img{
    width: 100%;
    height: 100%;
}
/*Опции слайдера*/
.owl-nav{
    text-align: center;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.container .owl-nav button, .container .owl-carousel .owl-nav button.owl-prev, .container .owl-carousel .owl-nav button.owl-next{
    width: 35px;
    height: auto;
    background: red;
}
.container .owl-nav button>span, .container .owl-carousel .owl-nav button.owl-prev span, .container .owl-carousel .owl-nav button.owl-next span{
    color: #fff;
}
.container .owl-nav button:hover, .container .owl-carousel .owl-nav button.owl-prev:hover, .container .owl-carousel .owl-nav button.owl-next:hover{
    background: #ccc;
}
/*Секция соцсетей*/
.social a{
    position: relative;
    top: 2em;
}
.social a.img{
    position: relative;
    top: 0;
}
.social-link-image{
    height: 60px;
    width: 60px;
    background-position: center;
    background-size: 160%;
    border-radius: 10px;
    margin: auto;
}
.social-link-image.facebook{
    background-image: url(../img/facebook.png);
}
.social-link-image.instagram{
     background-image: url(../img/instagram.png);
}
.social-link-image.youtube{
     background-image: url(../img/youtube.png);
    background-size: 130%;
}
/*Секция формы*/
input.form-control, textarea.form-control{
        border-width:2px;
        cursor: pointer;
}
.send-btn{
    background: red;
    color: #fff;
    text-transform: uppercase;
    padding: 0.3em 2em;
    margin: 2em 0;
    cursor: pointer;
    box-shadow: 0 8px 8px rgba(0,0,0,0.5);
}
/*Футер*/
footer{
    min-height: 50px;
    background-color: #000;
    width: 100%;
}
/*Адаптивные стили*/
@media screen and (max-width:1025px){
    .team .grey p:before{
        display: none;
    }
    .card-img-overlay p{
        visibility: visible;
    }
    .nav-tabs li:last-child a:after{
        top:53px;
    }
    span.date{
        font-size: 0.85rem;
    }
}
@media screen and (max-width:800px){
    .social a.img{
        top:2em;
    }
}